.users-page{
}

.serch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 23px;
}

.current-page{
    font-size: 20px;
    font-weight: bold;
}

