.one-dialog{
    width: 950px;
    height: auto;
    border: solid 2px green;
    border-radius: 5px;
}

.one-dialog-name {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px green;
}

.one-dialog-name h2{
    margin: 3px;
    font-size: 22px;
}

.one-dialog-chat{
    padding: 8px;
}

.one-dialog-item {
    padding: 2px;
    display: flex;
    margin-bottom: 5px;
}

.right{
    justify-content: end;
}

.text{
    border: solid 2px green;
    padding: 4px 6px;
    border-radius: 10px;
}

.one-dialog-item h2{
    font-size: 18px;
    margin: 0;
}

.one-dialog-input-wrapp{
    margin-top: 15px;
    display: flex;
    justify-content: end;
}

.one-dialog-input{
    border: solid 2px green;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    box-sizing: border-box;
}

.one-dialog-send-button{
    border: solid 1px green;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 14px;
    height: 30px;
    width: auto;
    margin-left: 20px;
}